<!DOCTYPE html>
<html lang="en" th:replace="~{layoutFile :: layout(~{::title}, ~{::script}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{login.failed}"></title>
    <script></script>
</head>
<body>
<main id="main">
    <div class="container">
        <div class="row">
            <div th:replace="~{_header :: header()}"></div>
            <div class="col-md-8">
                <h2 th:if="${message.code() != null}" th:text="${#strings.defaultString(#messages.msgOrNull(message.code()),message.defaultMessage())}"></h2>
                <h2 th:unless="${message.code()}" th:text="${message.defaultMessage()}"></h2>
            </div>
        </div>
    </div>
</main>
</body>
</html>