<!DOCTYPE html>
<html lang="en" th:replace="~{layoutFile :: layout(~{::title}, ~{::script}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{analytics.percentages.title}"></title>
    <script th:replace="~{_googlecharts :: googlecharts()}"></script>
</head>
<body>
    <main id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="grid-item grid-item_primary grid-item_fluid">
                        <div class="inner">
                            <h1 class="title title_large first-word-bold first-word-break"><strong th:text="#{analytics}"></strong> <span th:text="#{micronaut.launch}"></span></h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div th:replace="~{_piecharts :: piecharts(${charts.get(0)})}"></div>
                </div>
            </div>
            <div class="row">
                <div th:replace="~{_piecharts :: piecharts(${charts.subList(1,charts.size())})}"></div>
            </div>
        </div>
    </main>
</body>
</html>