<!DOCTYPE html>
<html lang="en" th:replace="~{layoutFile :: layout(~{::title}, ~{::script}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{analytics.percentages.title}"></title>
    <script th:replace="~{_googlecharts :: googlecharts()}"></script>
</head>
<body>
    <main id="main">
        <div class="container">
            <div class="row">
                <div th:replace="~{_header :: header()}"></div>
                <div class="col-md-8">
                    <div th:replace="~{_piecharts :: piecharts(${charts.get(0)})}"></div>
                </div>
            </div>
            <div class="row">
                <div th:replace="~{_piecharts :: piecharts(${charts.subList(1,charts.size())})}"></div>
            </div>
        </div>
        <th:block th:if="${security}">
            <div th:replace="~{_excel :: excel()}"></div>
        </th:block>
    </main>
</body>
</html>