<!DOCTYPE html>
<html lang="en" th:replace="~{layoutFile :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<main id="main">
    <div class="container">
        <div class="chart-container">
            <div th:each="metric: ${metrics}">
                <div class="chart">
                    <h2 th:text="${metric.title}"></h2>
                    <div th:id="${metric.id}">
                    </div>
                </div>
                <script th:inline="javascript">
                    // Set a callback to run when the Google Visualization API is loaded.
                    google.charts.setOnLoadCallback(() => {
                        const data = new google.visualization.DataTable();
                        data.addColumn('string', 'key');
                        data.addColumn('number', 'value');
                        /*[# th:each="individual : ${metric.metrics}"]*/
                        data.addRow([ [[${individual.name}]], [[${individual.value}]] ]);
                        /*[/]*/
                        const chart = new google.visualization.PieChart(document.getElementById([[${metric.id}]]));
                        chart.draw(data, chartOptions);
                    });
                </script>
            </div>
        </div>
    </div>
</main>
</body>
</html>